.dashboard__container {
  display: flex;
  flex-direction: column;
}

.dashboard__navbar {
  width: 100%;
}

.dashboard__first-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard__second-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
